.faq {
  overflow: hidden;
  font-family: "Gotham";
  background-color: black;
  color: white;
  position: relative;
}

.faq_head {
  color: #2cb774;
  margin-left: 0.1em;
  font-size: 1.75em;
}

.faq_heading {
  margin-left: 1em;
  font-size: 2em;
}

.faq_question,
.faq_answer {
  width: 32vw;
  margin: 0 auto;
  margin-top: 3rem;
  line-height: 1.2;
}

.faq_answer {
  background-color: rgb(255, 255, 255, 0.13);
  border: 0.222042px solid #2cb774;
  border-radius: 1em;
  backdrop-filter: blur(30px);
}

@media (max-width: 700px) {
  .faq {
    font-size: 0.7rem;
  }

  .faq_question,
  .faq_answer {
    margin-top: 2rem;
    width: 37vw;
  }
}

.faq_blob1,
.faq_blob2,
.faq_blob3 {
  position: absolute;
  --size: 45vw;
  width: var(--size);
  height: calc(var(--size) * 1.2);
  background-image: radial-gradient(rgb(44, 183, 116, 0.2) 0, transparent 70%);
  top: 0;
  z-index: -1;
}

.faq_blob1 {
  top: 0;
  right: -30%;
}

.faq_blob2 {
  top: 20%;
  left: -30%;
}

.faq_blob3 {
  display: none;
  top: 65%;
  right: -30%;
}

@media (max-width: 500px) {
  .faq {
    font-size: 0.5rem;
  }

  .faq_question,
  .faq_answer {
    width: 40vw;
    line-height: 1.2;
  }

  .faq_blob2 {
    top: 20%;
    left: -17%;
  }
  .faq_blob1 {
    top: 5%;
    right: -20%;
  }

  .faq_blob3 {
    display: block;
    top: 70%;
    right: -20%;
  }
}
