:root {
    --speaker-header: #2cb774;
    --rounded-card-height: 19rem;
    --rounded-card-mobile-height: 8.4rem;
    --rounded-card-width: 14rem;
    --rounded-card-mobile-width: 6.25rem;
    --card-mobile-height: 12rem;
    --card-mobile-width: 9.1rem;
}

.speakers__mentors {
    padding: 5rem;
}

.speaker__section {
    font-family: "Gotham", sans-serif;
    margin-bottom: 10rem;
}

.speaker__heading {
    margin-bottom: 4rem;
    color: var(--speaker-header);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7.5rem;
    z-index: -1;
    position: relative;
}

.speakers__container {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 4rem;
}

.speaker__el {
    cursor: pointer;
}

.mentors__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.blur1 {
    position: absolute;
    width: 640px;
    height: 206.9px;
    left: 10px;
    top: 0;
    background: rgba(44, 183, 116, 0.6);
    filter: blur(250px);
    z-index: 0;
}

.mentor__heading {
    position: relative;
}

.blur2 {
    position: absolute;
    width: 658px;
    height: 122.9px;
    left: 10px;
    top: 0;
    background: rgba(44, 183, 116, 0.6);
    filter: blur(250px);
    z-index: 0;
}

.no__scroll {
    overflow-x: hidden;
}

@media (max-width: 1738px) {
    .speakers__mentors {
        padding: 4rem;
    }
}

@media (max-width: 1552px) {
    .speakers__mentors {
        padding: 2rem;
    }

    .speakers__container {
        grid-template-columns: repeat(3, 0.5fr);
    }

    .speaker__el:last-child {
        grid-column: 2/3;
    }

}

@media (max-width: 1418px) {
    .mentors__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
    }

    /* .mentor__el:nth-child(odd) {
        justify-self: end;
    }

    .mentor__el:nth-child(even) {
        justify-self: start;
    } */
}

@media (max-width: 1208px) {
    .mentors__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }
}

@media (max-width: 1104px) {
    .speaker__heading {
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }

    .speaker__section {
        margin-bottom: 4rem;
    }

    .speakers__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 2rem;
        margin-bottom: 2rem;
    }

    .speaker__el:nth-child(odd) {
        justify-self: end;
    }

    .speaker__el:nth-child(even) {
        justify-self: start;
    }

    .card__container {
        height: calc(var(--card-mobile-height) + 10rem);
        width: calc(var(--card-mobile-width) - 2rem);
    }

}

@media (max-width: 896px) {
    .mentor__el:nth-child(odd) {
        margin-left: 0;
        width: initial;
    }

    .speakers__mentors {
        padding: 2rem;
    }

    .user5 {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .speakers__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: start;
        margin-bottom: 5rem;
    }

    .mentors__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin-top: 0;
    }

    .mentor__el:nth-child(odd) {
        justify-self: end;
    }

    .mentor__el:nth-child(even) {
        justify-self: start;
    }

    .speaker__heading {
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: 0.2rem;
    }

    .speaker__section {
        margin-bottom: 3rem;
    }
}

@media (max-width: 370px) {
    .speakers__container {
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .speaker__heading {
        font-size: 2.3rem;
    }
}

@media (max-width: 320px) {

    .speakers__container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .speaker__el:last-child {
        grid-column: 1/-1;
    }

    .speaker__el:nth-child(2n),
    .speaker__el:nth-child(2n+1) {
        justify-self: center;
    }

    .mentors__container {
        grid-template-columns: auto;
        justify-content: center;
    }

    .speaker__el:last-child,
    .mentor__el:last-child {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .speaker__heading {
        font-size: 2rem;
    }
}