.webinar_div {
  padding: 50px;
}
.webinar_img {
  width: 100%;
  object-fit: cover;
}
.webinar {
  position: relative;
  width: 100%;
  background-color: #000;
}
.webinar_details {
  margin-top: 70px;
  border-left: 23px solid #1ed760;
  padding-left: 10px;
}
.webinar_details2 {
  margin: 0 60px 50px;
  border-left: 23px solid #1ed760;
  padding-left: 10px;
}
.webinar_details > h1,
.webinar_details2 > h1 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
}
.webinar_details > p,
.webinar_details2 > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.webinar_main_img_section {
  position: relative;
  display: flex;
}
.webinar_main_img_section > img {
  width: 100%;
  object-fit: cover;
}
.webinar_main_img_section > h1 {
  position: absolute;
  top: 230px;
  left: -280px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 146.066px;
  line-height: 161px;
  color: #ffffff;
  transform: rotate(90deg);
}

@media (max-width: 1400px) {
  .webinar_main_img_section > h1 {
    font-size: 130px;
    line-height: 161px;
    top: 160px;
    left: -240px;
  }
}
@media (max-width: 1200px) {
  .webinar_main_img_section > h1 {
    font-size: 100px;
    line-height: 161px;
    top: 100px;
    left: -200px;
  }
  .webinar_details {
    margin-top: 50px;
    border-left: 14px solid #1ed760;
  }
  .webinar_details2 {
    border-left: 14px solid #1ed760;
  }
  .webinar_details > h1,
  .webinar_details2 > h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .webinar_details > p,
  .webinar_details2 > p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 685px) {
  .webinar_main_img_section > h1 {
    font-size: 60px;
    line-height: 0px;
    top: 100px;
    left: -120px;
  }
  .webinar_details {
    margin-top: 20px;
    border-left: 8px solid #1ed760;
  }
  .webinar_details2 {
    border-left: 8px solid #1ed760;
    margin: 0 0 50px;

  }
  .webinar_details > h1,
  .webinar_details2 > h1 {
    font-size: 18px;
    line-height: 20px;
  }
  .webinar_details > p,
  .webinar_details2 > p {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 430px) {

  .webinar_div {
    padding: 15px;
  }
  .webinar_img {
    width: 138px;
    height: 160px;
    object-fit: cover;
  }
  .webinar_details {
    margin-top: 23px;
    border-left: 6px solid #1ed760;
    padding-left: 7px;
  }
  .webinar_details2 {
    margin: 0;
    border-left: 6px solid #1ed760;
    padding-left: 10px;
  }
  .webinar_details > h1,
  .webinar_details2 > h1 {
    font-size: 16px;
    line-height: 15px;
  }
  .webinar_details > p,
  .webinar_details2 > p {
    font-size: 10px;
    line-height: 12px;
  }
  .webinar_main_img_section > img {
    margin-top: 35px;
    width: 183.09px;
    height: 113.88px;
    object-fit: cover;
  }
  .webinar_main_img_section > h1 {
    top: 75px;
    left: -70px;
    font-weight: 700;
    font-size: 35px;
    line-height: 37px;
  }
}
