
nav{
  z-index: 1;
  background: rgba(0, 0, 0, 0);
}
.logo > a > img {
  width: 274px;
}
.navbar {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  height: 100px;
}
.menu_links {
  display: flex;
  gap: 35px;
}
.menu_links > p {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 430px) {
  .logo > a > img {
    width: 136px;
  }
}