.home_webinar_section {
  margin-top: 160px;
  width: 100%;
}

.webinar_heading_blur {
  position: absolute;
  right: 10%;
  background-color: #2cb77448;
  padding: 10%;

  grid-row: 1;
  grid-column: 1;
  filter: blur(100px);
  z-index: 1;
}

.home_webinar_heading>h1 {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 8vw;
  line-height: 133px;
  color: #2cb774;
}

.webinar_home_card_section {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.webinar_home_card_section>div {
  margin-top: 20px;
}

.align_center {
  display: flex;
  justify-content: center;
}

@media (max-width: 430px) {
  .home_webinar_section {
    margin-top: 80px;
  }

  .webinar_heading_blur {
    right: 40%;
    background-color: #2cb77448;
    padding: 12%;
    position: absolute;

    grid-row: 1;
    grid-column: 1;
    filter: blur(100px);
    z-index: 1;
  }

  .home_webinar_heading>h1 {
    justify-content: center;
    line-height: 40px;
  }

  .webinar_home_card_section {
    margin-top: 34px;
  }

  .webinar_home_card_section>div {
    margin-top: 0;
  }

  .right_align {
    display: block;
  }
}