.promo_video {
  margin: 235px 0 235px 0;
  width: 100%;
  background-color: #000;
}
.promo_video_blur {
  background-color: #2cb77448;
  padding: 12%;
  position: absolute;

  grid-row: 1;
  grid-column: 1;
  filter: blur(100px);
  z-index: 1;
}
.promo_video_heading {
  display: flex;
  justify-content: center;
}
.promo_video_heading > h1 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  line-height: 133px;
  color: #2cb774;
}
.video_player_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 86px;
  width: 100%;
  height: 741.13px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 6.99178px 6.99178px 9.32237px -1.1653px rgba(0, 0, 0, 0.12);
  border-radius: 11.653px;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 638.44px;
  border-radius: 11.653px;
  overflow: hidden;
  background-color: #fff;
}
.comming_soon_video {
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 160px;
}
.comming_soon_video > h1 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 51.244px;
  line-height: 57px;
  letter-spacing: 0.03em;
  color: #191414;
}
.comming_soon_video > h2 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 133px;
  color: #2cb774;
}

@media (max-width: 973px) {
  .promo_video_blur {
    width: 600px;
    height: 100px;
    background: rgba(44, 183, 116, 0.5);
    filter: blur(100px);
  }
  .promo_video_heading > h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .comming_soon_video {
    padding-left: 70px;
  }
  .comming_soon_video > h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .comming_soon_video > h2 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media (max-width: 620px) {
  .promo_video_blur {
    width: 400px;
    height: 100px;
    filter: blur(100px);
  }
  .promo_video_heading > h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .comming_soon_video {
    padding-left: 40px;
  }
  .comming_soon_video > h1 {
    font-size: 30px;
    line-height: 20px;
  }
  .comming_soon_video > h2 {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (max-width: 430px) {
  .promo_video {
    margin: 50px 0 50px 0;
  }
  .promo_video_blur {
    width: 185px;
    height: 52.59px;
    background: rgba(44, 183, 116, 0.6);
    filter: blur(59.2189px);
  }
  .promo_video_heading {
    display: flex;
    justify-content: center;
  }
  .promo_video_heading > h1 {
    font-size: 22px;
    line-height: 20px;
  }
  .video_player_section {
    margin-top: 24px;
    width: 100%;
    height: 206.19px;
    box-shadow: 1.94521px 1.94521px 2.59361px -0.324201px rgba(0, 0, 0, 0.12);
    border-radius: 3.24201px;
  }
  .player {
    width: 90%;
    height: 85%;
    border-radius: 3.24201px;
    overflow: hidden;
  }

  .comming_soon_video {
    padding-left: 50px;
  }
  .comming_soon_video > h1 {
    font-size: 13.0125px;
    line-height: 14px;
  }
  .comming_soon_video > h2 {
    font-size: 30.4719px;
    line-height: 34px;
  }
}
