.banner {
  width: 100%;
  background-color: #000;
}

.collab_blur {
  position: absolute;
  left: 50px;
  width: 781px;
  height: 222px;
  grid-row: 1;
  grid-column: 1;
  background: rgba(44, 183, 116, 0.37);
  filter: blur(100px);
}

/* .banner_collaborating>.blur-collab {
  background-color: #2cb77457;
  padding: 8%;
  position: absolute;
  grid-row: 1;
  grid-column: 1;
  filter: blur(100px);
  z-index: 1;
} */

.banner_body {
  background-image: url(../../assets/images/earthBackground.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner_logo>img {
  margin-top: 170px;
  height: 277px;
}

.banner_register_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.learn_more_btn {
  animation: fadeInLeft 700ms ease-in-out;
}

.banner_details {
  margin-top: 320px;
}

.banner_details>h1 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 65.0277px;
  line-height: 62px;
  color: #ffffff;
  animation: fadeInLeft 700ms ease-in-out;
}

.banner_details>h1>span {
  color: #2cb774;
}

.banner_details>p {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 0 120px 0;
  animation: fadeInRight 700ms ease-in-out;
}

.banner_collaborating {
  position: relative;
  margin-top: 285px;
  display: flex;
  flex-direction: column;
}

.banner_collaborating>h2 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  line-height: 56px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}

.banner_collaborating>h1 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  line-height: 131px;
  color: #2cb774;
  margin: 0;
}

.societies {
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.18);
}

.societies_logos {
  height: 240px;
  display: flex;
  align-items: center;
}

.societie_logo {
  display: flex;
  justify-content: center;
}

.societie_logo>img {
  width: 220px;
}


.banner_coundown {
  margin-top: 361px;
}

@media (max-width: 1176px) {
  .banner_logo>img {
    margin-top: 100px;
    height: 200px;
  }

  .societie_logo>img {
    width: 190px;
  }

  .collab_blur {
    position: absolute;
    width: 600px;
    height: 150px;
    background: rgba(44, 183, 116, 0.6);
    filter: blur(250px);
  }

  /* .societies_logos {
    height: 290px;
  } */
}

@media (max-width: 900px) {
  .banner_coundown {
    margin-top: 170px;
  }

  .banner_details>h1 {
    font-size: 55px;
    line-height: 62px;
  }

  .banner_details>p {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 90px 0;
  }

  .banner_collaborating {
    margin-top: 200px;
  }

  .banner_collaborating>h2 {
    line-height: 56px;
  }

  .banner_collaborating>h1 {
    line-height: 131px;
  }

  .societie_logo>img {
    width: 180px;
  }
}

@media (max-width: 430px) {
  .collab_blur {
    top: -20px;
    left: -50px;
    width: 185px;
    height: 52.59px;
    background: rgba(44, 183, 116, 0.6);
    filter: blur(59.2189px);
  }

  .banner_body {
    background-image: url(../../assets/images/mobileEarthBackground.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .banner_details {
    margin-top: 108px;
  }

  .banner_logo>img {
    margin-top: 65px;
    height: 130.41px;
  }

  .banner_register_btn {
    margin-top: 35px;
  }

  .banner_collaborating {
    margin-top: 105px;
    flex-direction: row;
    justify-content: center;
  }

  .banner_collaborating>h2 {
    font-size: 5vw;
    line-height: 20px;
  }

  .banner_collaborating>h1 {
    font-size: 5vw;
    line-height: 20px;
    color: #2cb774;
  }

  .societie_logo {
    display: flex;
    justify-content: center;
  }

  .banner_collaborating>h1::before {
    content: "\00a0 ";
  }

  .societie_logo>img {
    width: 130px;
  }

  .banner_details>h1 {
    font-size: 21.1418px;
  }

  .banner_details>h1>span {
    color: #2cb774;
  }

  .banner_details>p {
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px 0;
    margin: -10px 0 30px 0;
  }

  .banner_details>button {
    margin-left: 10px;
  }

  .banner_coundown {
    margin-top: 72px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: transLateY(80px);
  }

  100% {
    opacity: 1;
  }
}